@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	font-size: 10px;
	box-sizing: border-box;
}

html {
	background-color: rgb(0, 0, 0);
}

.box {
	width: 100vw;
	max-width: 2000px;
	margin: 0 auto;
	border: 3px groove rgb(255, 255, 255);
}

header {
	background: url(foto/background2top.jpg) no-repeat;
	background-position: bottom center;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
}

header a {
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 3rem;
	text-decoration: none;
	list-style-type: none;
	padding: 10px 5px;
	border-radius: 15px;
	transition: all 0.3s linear;
}

header a:hover {

	color: rgba(40, 40, 40, 0.8);
	background: linear-gradient(135deg, transparent, rgba(255, 255, 255, 0.6));
}

.header {
	margin: 5px 20px 10px 5px;
}

.wrap__top {
	background-color: rgba(150, 150, 150, 0.5);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.wrap__logo {
	width: 25%;
	padding: 20px;
	background: url(logo/logo_DK_2.png) 10px top no-repeat;
	background-position: 0 0;
	background-size: contain;
	background-origin: content-box;
}

h1 {
	font-size: 8rem;
	font-family: Roboto, sans-serif;
	text-align: center;
	padding: 20px;
	color: #fff;
	text-shadow: 3px 3px 15px #000;
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), transparent);
	border-radius: 15px;
	margin-top: 30px;
	transition: all 0.3s linear;
}

h2 {
	font-size: 4rem;
	font-family: Roboto, sans-serif;
	text-align: center;
	padding: 20px;
	margin: 20px 10px;
	color: #fff;
	text-shadow: 2px 2px 10px #000;
}

.wrapper {
	margin: 0 auto;
}

.head__foto {
	display: block;
	margin: 10px;
	transition: all 0.3s linear;
}

.section__foto {
	display: flex;
	justify-content: space-around;
	margin: 10px 10px 10px 10px;
}

.figur__foto {
	border-radius: 50%;
	text-align: center;
	height: auto;
	transition: all 0.3s ease;
}

.figur__foto:hover {
	transform: scale(1.2);
}

.figur__foto img {
	width: 400px;
	height: 400px;
	border: 3px groove #fff;
	border-radius: 50%;
	padding: 5px;
	box-shadow: 0 0 20px #fff;
	object-fit: cover;
	object-position: center;
}

.figur__foto p {
	font-size: 3rem;
	font-weight: 700;
	font-family: Roboto, sans-serif;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 3px #000, -1px -1px 3px #000;
	transition: all 0.5s ease;
}

figcaption {
	padding: 5px;
	margin-top: -100px;
}

footer {
	display: flex;
	justify-content: space-around;
	border-top: 3px solid rgb(255, 255, 255);
	padding: 20px;
	margin-top: 100px;
}

.socialnetworks ul,
.contacts ul {
	text-align: left;
	list-style-type: none;
}

.socialnetworks li,
.contacts li {
	padding: 5px;
}

footer a {
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 3rem;
	text-decoration: none;
	list-style-type: none;
	padding: 10px 5px;
	border-radius: 15px;
}

footer a:hover {
	background: linear-gradient(135deg, transparent, rgba(255, 255, 255, 0.6));
}

.fa-brands,
.fa-sharp {
	color: #fff;
	font-size: 4rem;
	margin-right: 20px;
	transition: all 0.3s ease;
}

.fa-brands:hover,
.fa-sharp:hover {
	transform: scale(1.4);
}

.copyright {
	display: flex;
	justify-content: center;
	border-top: 3px solid rgb(255, 255, 255);
	line-height: 3;

}

.copyright p {
	font-family: Roboto, sans-serif;
	font-size: 2rem;
	color: #fff;
}

.fa-copyright {
	color: #fff;
	font-size: 2rem;
	margin-right: 30px;
}

@media (max-width: 1199px) {

	.fa-brands,
	.fa-sharp {
		font-size: 3rem;
	}

	header a {
		font-size: 2rem;
	}

	h1 {
		font-size: 6rem;
		text-align: center;
	}

	.wrap__text h2,
	.wrapper h2 {
		font-size: 3rem;
	}

	.head__foto {
		font-size: 4rem;
	}

	.section__foto {
		flex-direction: column;
		align-items: center;
		justify-content: normal;
	}

	.figur__foto:nth-child(n+2) {
		margin-top: 90px;
	}

	footer a {
		font-size: 2rem;
	}

	.copyright p {
		font-size: 1.5rem;
	}

}

@media (max-width: 620px) {

	.wrap__top {
		flex-flow: column;
		align-items: center;

	}

	.wrap__logo {
		width: 250px;
		height: 120px;
	}

	.fa-brands,
	.fa-sharp {
		font-size: 2rem;
	}

	header a {
		font-size: 1.5rem;
	}

	h1 {
		font-size: 3.5rem;
	}

	.wrap__text h2,
	.wrapper h2 {
		font-size: 2rem;
	}

	.head__foto {
		font-size: 2.5rem;
	}

	.section__foto {
		flex-direction: column;
		align-items: center;
		justify-content: normal;
	}

	.figur__foto:nth-child(n+2) {
		margin-top: 90px;
	}

	footer a {
		font-size: 2rem;
	}

	.copyright p {
		font-size: 1.5rem;
	}

}

@media (max-width: 480px) {

	.wrap__top {
		flex-direction: column;
		align-items: center;

	}

	.wrap__logo {
		width: 250px;
		height: 120px;
	}

	.wrap__text {
		text-align: center;
	}

	footer {
		flex-direction: column-reverse;
		align-items: center;
	}

	.socialnetworks {
		margin-top: 20px;
	}

	.figur__foto img {
		width: 300px;
		height: 300px;
	}

}

@media (max-width: 300px) {

	.wrap__top {
		flex-direction: column;
		align-items: center;
	}

	.wrap__logo {
		width: 250px;
		height: 120px;
	}

	.wrap__text {
		text-align: center;
	}

	h1 {
		font-size: 2.5rem;
	}

	.head__foto {
		font-size: 2rem;
	}

	.figur__foto img {
		width: 220px;
		height: 220px;
	}

	.figur__foto:nth-child(n+2) {
		margin-top: 50px;
	}

	.figur__foto p {
		font-size: 2rem;
	}

	figcaption {
		margin-top: -50px;
	}

	footer {
		flex-direction: column-reverse;
		align-items: center;
		margin-top: 50px;
	}

	.socialnetworks {
		margin-top: 20px;
	}

	footer a {
		font-size: 1.7rem;
	}

}
